.toggle-button{
  background:transparent;
  border:none;
  box-sizing:border-box;
  cursor:pointer;
  display:flex;
  flex-direction: column;
  height:24px;
  justify-content: space-around;
  padding:0;
  width:30px;
 } 

.toggle-button:focus{
outline:none;
}

.toggle-button-line{
background:white;
height:2px;
width:30px;
}